.players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.player {
    background-color: rgb(39, 125, 255);
    border: 3px outset rgb(0, 81, 255);
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    margin: 0.5rem;
    width: 35%;
    font-size: larger;
}

/* .support_footer {
    margin: 1rem 0 0.25rem 0;
    font-style: oblique;
} */

.player_header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}