/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #ffffff;
  font-family: "Noto Sans", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
    padding: 0 3rem;
    background-color: rgb(51, 144, 250);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans", Helvetica, sans-serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

.title--main {
  margin-block-end: 0;
}

