.btn.btn-primary {
    background-color: rgb(7, 7, 153);
    margin-left: 5rem;
}

.form-group {
    margin-left: 5rem; 
}

.rateEntry {
    width: 30%;
}

.gameSelector {
    margin-left: 10px;
}

.player {
    margin-left: 5rem; 
}

.support {
    margin-left: 5rem; 
}