.navbar {
    font-family: "Noto Sans", Helvetica, sans-serif;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    border-bottom: 10px ridge rgb(2, 17, 155);
    background-color: rgb(2, 36, 68);
    font-weight: 700;
    padding: 40px;
    margin: 0px;
    height: 30px;
    font-size: larger;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.navbar__link {
    color: white;
}

img {
    height: 40px;
    width: auto;
    padding-right: 15px;
  }

